[DEFAULT]
CONSUMER_KEY =
CONSUMER_SECRET =
ACCESS_TOKEN =
ACCESS_TOKEN_SECRET =

[MAIL]
IS_ENABLED = True
DEST_EMAIL = sample@sample.com
SUBJECT_EMAIL = Trademark Monitor
SMTP_SERVER = smtp.gmail.com
SMTP_PORT = 465
SMTP_EMAIL = sample@gmail.com
SMTP_PASSWORD =

[SLACK]
WEBHOOK = 
CHANNEL = 
USERNAME = Trademark Monitor
EMOJI = :wave:

[TWITTER]
SLACK_NOTIFICATIONS_ENABLED = True

[STANDALONE]
IS_ENABLED = False
TRADEMARKS = leboncoin,largus
KEYWORDS = phishing attack scam
